@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: rgba(22, 24, 43, 1);
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
}

h1 {
    font-size: 55px;
    text-shadow: 0px 5px 7px black;
    color: rgba(170, 171, 187, 1)
}

h3 {
    font-size: 24px;
    color: rgba(170, 171, 187, 1);
}

select {
    font-size: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: rgba(22, 24, 43, 1);
    color: rgba(170, 171, 187, 1);
}

.round {
    width: 65px; height: 65px; /* Размеры кнопки */
    background-color: rgba(22, 24, 43, 1); /* Цвет фона */
    border-radius: 50%; /* Радиус скругления */
    border: 2px solid rgba(170, 171, 187, 1); /* Убираем рамку вокруг кнопки */
    margin-left: 500px;
    cursor: pointer;
}

button:hover {
    background: rgba(5, 6, 20, 1);
}


.buttons {
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}


.main {
    display: none;
}

.start {
    display: flex;
}

.question {
    font-size: 6em;
    color: rgba(170, 171, 187, 1);
}

.ans-row {
    padding: 1em;
    box-sizing: border-box;
    display: flex;
}

.answer {
    border: 1px solid rgba(170, 171, 187, 1);
    border-radius: 5px;
    width: 65px; height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    margin: .5em;
    cursor: pointer;
    color: rgba(170, 171, 187, 1);
    background: rgba(22, 24, 43, 1);

}

.answer:hover {
    background: rgba(5, 6, 20, 1);
}

.container_h3{
    margin-bottom: 10px;
}

.start-btn {
    font-size: 30px;
    padding: .5em;
    border: 1px solid rgba(170, 171, 187, 1);
    color: rgba(170, 171, 187, 1);
    border-radius: 5px;
    cursor: pointer;
    background-color: rgba(22, 24, 43, 1);
}

.start-btn:hover {
    background: rgba(5, 6, 20, 1);
}
